<div class="copy-right">

  <p><%= t(:contacts) %><br>
     <%= t(:mail) %> <a href="mailto:info@newyorkerclub.ru">tobacco@newyorkerclub.ru</a><br>
     <%= t(:phone) %> <a href="tel:+79090961933">+7(909)096-19-33</a><br>
     Whatsapp: <a href="tel:+79090961933">+7(909)096-19-33</a><br>
     Instagram: <a href="https://www.instagram.com/newyorkerclub/">@newyorkerclub</a><br><br>
     Template by <a href="http://w3layouts.com/">W3layouts</a></p>
  <script type="text/javascript">
    $(document).ready(function() {
      $().UItoTop({ easingType: 'easeOutQuart' });
    });
  </script>
  <a href="#" id="toTop" style="display: block;">
    <span id="toTopHover" style="opacity: 1;"></span>
  </a>
</div>
