<div class="portfolio">
  <div class="portfolio-top">
    <div class="col-md-8">
      <div class="portfolio-top-left wow fadeInLeft" data-wow-delay="0.4s">
        <h3>Новинка</h3>
        <div class="portfolio-top-left-grids">
          <div class="fox-p">
            <p>Табак FOX - сертифицированный акцизный продукт. FOX изготавливается из лучшего бразильского табака сорта Бёрли, имеет повышенную крепость и приятный ментоловый вкус.</p>
          </div>
            <div class="clearfix"> </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 portfolio-top-right-inner wow fadeInRight" data-wow-delay="0.4s">
      <div class="fox-image"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
